<mat-list role="list">
  <div class="profile">
    <div>
      <h2>Shibila Parveen</h2>
      <h4>shibilaparveen11@gmail.com</h4>
    </div>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Leucanthemum_vulgare_%27Filigran%27_Flower_2200px.jpg/1126px-Leucanthemum_vulgare_%27Filigran%27_Flower_2200px.jpg"
      alt="no image">
  </div>
  <mat-divider></mat-divider>

  <h2 mat-subheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Post
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="">Article
  </a>

  <mat-divider>
  </mat-divider>

  <h2 mat-subheader>Tools
  </h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    &nbsp;Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    &nbsp;Leads
  </a>

</mat-list>